<h1>Accounts</h1>
<ol>
	<% @accounts.each do |a| %>
	<ol>
		<li>
		<%= link_to("#{a.Name}", a ) %>
		</li>
	</ol>
	<% end %>
</ol>

<%= link_to "Login", user_session_path, :method => "get" %>
<%= link_to "Register", new_user_registration_path, :method => "get" %>